@model List<UserInfo>
@{
    ViewBag.Title = "Toplanti Katilim Listesi";
}
<main class="text-center">
    <h1 class="h4">Toplanti Katilim Listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Ad</td>
                <td>Katilim durumu</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{
                int participant = 0;
            }
            @foreach(var user in Model)
            {
                var status = @user.WillAttend == true ? "Evet" : "Hayir";
                var className = @user.WillAttend == true ? "table-success" : "table-danger";

                if(@user.WillAttend == true){
                    participant++;
                }
                <tr class="@className">
                    <td>@user.Name</td>
                    <td>@status</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="/meeting/details/@user.Id">Detay</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
            <span>Katilimci sayisi: @participant</span>
        </div>
    </div>
</main>
