@model MeetingInfo
@{
    ViewBag.Title = "Toplanti basvuru";
    Layout = "_Layout2";
}
<main class="text-center">
    <h1 class="h4">@ViewBag.Selamlama, @ViewBag.UserName</h1>
    <p>Toplanti katilim durumunuzu bildiriniz.</p>
    <div class="card my-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") tarihinde gerceklesecek</li>
            <li class="list-group-item">@Model.NumberOfPeople Katilimci</li>
        </ul>
    </div>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Basvuru Yap</a>
</main>
